[user]
	name = Jaroslaw Pendowski
	email = jarek@macoscope.net

[color]
	ui = auto

[core]
	editor = pico
	excludesfile = /Users/shw/.gitignore_global

[alias]
	st = status
	co = checkout
	cia = commit -a
	cp = cherry-pick
	ps = push
	pl = pull
	cloner = clone --recursive
	pod = !git checkout develop && git pull
	rod = !git checkout develop && git pull && git checkout - && git rebase develop
	logs = !git log --pretty=oneline
	today = !git logs --author=`git config user.email` --since=am
	recent = !git recent-all | head -n 20 | uniq
	recent-all = !git reflog | awk '/checkout: moving from /{ if (!seen[$NF]++) print $NF }'
	reho = !git fetch && git reset --hard origin/`git rev-parse --abbrev-ref HEAD`
	hist = !git log --oneline --all --color --graph --decorate
	wip = !git cia -m "WIP"
	junk = !find -E . -regex '.*(\\.orig|\\.LOCAL|\\.BASE)$' | xargs rm
	cor = !git co $(git recent | fzf)

[push]
	default = current
 	followTags = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
